﻿
@{
    ViewBag.Title = "Schedules";

}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/angular.min.js"></script>
<div ng-app="EbipsApp" ng-controller="EbipsRevCtrlr">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right m-t-15">
                <button type="button" id="btnAdd" class="btn btn-vigipay waves-effect waves-light ipm" ng-click="generateSchedules()">
                    <span class="btn btn-label">
                        <i class="fa fa-plus"></i>
                    </span>Generate New Schedule
                </button>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    <div id="listOfRecord" class="col-md-12">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/script/shifts.js"></script>
