﻿
@{
    ViewBag.Title = "Settings";

}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/angular.min.js"></script>
<div ng-app="EbipsApp" ng-controller="EbipsRevCtrlr">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right m-t-15">
                <button type="button" id="btnAdd" class="btn btn-vigipay waves-effect waves-light ipm" ng-click="showSettingsModal()">
                    <span class="btn btn-label">
                        <i class="fa fa-plus"></i>
                    </span>Add New Settings
                </button>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    <div id="listOfRecord" class="col-md-12">
                    </div>

                </div>
            </div>

            <!--modal-->
            <div id="addSettingsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:40%;">
                    <div class="modal-content p-0 b-0">
                        <div class="panel panel-color panel-inverse">
                            <div class="panel-heading">
                                <button type="button" class="close m-t-5" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 class="panel-title">{{action}}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label req">Entity Type</label>
                                            <input class="form-control input-sm" type="text" placeholder="Entity Type" ng-model="rev.entityType">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label req">Entity Ref</label>
                                            <input class="form-control input-sm" type="text" placeholder="Entity Ref" ng-model="rev.entityRef">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Key</label>
                                            <input class="form-control input-sm" type="text" placeholder="Key" ng-model="rev.sKey">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label req">Value</label>
                                            <input class="form-control input-sm" type="text" placeholder="Value" ng-model="rev.sVal">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Param Type</label>
                                            <input class="form-control input-sm" type="text" placeholder="ParamType" ng-model="rev.paramType">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" ng-disabled="processing" class="btn btn-gray waves-effect disabledCtrl" data-dismiss="modal">Cancel</button>
                                            <button type="button" ng-disabled="processing" ng-click="saveSettings()" class="btn btn-success disabledCtrl" data-style="expand-right">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

        </div>
    </div>
</div>




<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/script/settings.js"></script>